@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { -webkit-tap-highlight-color: transparent; }
  body { font-family: 'Plus Jakarta Sans', sans-serif; }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar { width: 3px; }
  .scrollbar-thin::-webkit-scrollbar-thumb { background: #E2E8F0; border-radius: 2px; }
}
